.sidebar-container{
    width: 120px;
    height: auto;
    flex-shrink: 0; /* Asegura que el sidebar mantenga su ancho fijo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-img{
    width: 90px;
    height: 80px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: white;
}

