.main-body{
    height:100vh;
    width: 100vw;
    background-color: #E99D72;
    border-radius: 30px;
    display: flex;
    flex-direction: row; /* Organiza los elementos en fila */
    gap: 20px; /* Es*/
}

.content {
    flex: 1;
    overflow-y: auto; /* Scroll interno si el contenido crece */
    padding: 20px;
    color: white;
  }
